In [1]:
import pandas as pd
import numpy as np

In [2]:
excel_file = "Lower_Layer_Super_Output_Area_(2011)_to_Ward_(2015)_Lookup_in_England_and_Wales.csv"
df_temp = pd.read_csv(excel_file)
df_temp

,LSOA11CD,LSOA11NM,WD15CD,WD15NM,WD15NMW,LAD15CD,LAD15NM,FID
0,E01000104,Barking and Dagenham 014B,E05000041,Village,,E09000002,Barking and Dagenham,1
1,E01000105,Barking and Dagenham 014C,E05000041,Village,,E09000002,Barking and Dagenham,2
2,E01000106,Barking and Dagenham 014D,E05000041,Village,,E09000002,Barking and Dagenham,3
3,E01000107,Barking and Dagenham 010C,E05000041,Village,,E09000002,Barking and Dagenham,4
4,E01000108,Barking and Dagenham 010D,E05000041,Village,,E09000002,Barking and Dagenham,5
...,...,...,...,...,...,...,...,...
34748,W01001911,The Vale of Glamorgan 012H,W05000635,Castleland,Castleland,W06000014,Vale of Glamorgan,34749
34749,W01001860,Cardiff 034C,W05000877,Riverside,Glanyrafon,W06000015,Cardiff,34750
34750,W01001753,Cardiff 031C,W05000861,Fairwater,Tyllgoed,W06000015,Cardiff,34751
34751,W01001754,Cardiff 031D,W05000861,Fairwater,Tyllgoed,W06000015,Cardiff,34752
34752,W01001755,Cardiff 025A,W05000862,Gabalfa,Gabalfa,W06000015,Cardiff,34753

In [3]:
df = df_temp.iloc[:, [0, 1, 2]]
df = df.rename(columns={'LSOA11CD': 'LSOA code'}, inplace=False)
df = df.rename(columns={"WD15CD" : "New code"}, inplace=False)
df

       LSOA code                    LSOA11NM   New code
0      E01000104   Barking and Dagenham 014B  E05000041
1      E01000105   Barking and Dagenham 014C  E05000041
2      E01000106   Barking and Dagenham 014D  E05000041
3      E01000107   Barking and Dagenham 010C  E05000041
4      E01000108   Barking and Dagenham 010D  E05000041
...          ...                         ...        ...
34748  W01001911  The Vale of Glamorgan 012H  W05000635
34749  W01001860                Cardiff 034C  W05000877
34750  W01001753                Cardiff 031C  W05000861
34751  W01001754                Cardiff 031D  W05000861
34752  W01001755                Cardiff 025A  W05000862

[34753 rows x 3 columns]

In [4]:
df_2 = pd.read_csv("ward_median_house_merged_cleaned.csv")
df_2

,Ward name,New code,% All Working-age (16-64) - 2015,% All Older people aged 65+ - 2015,Population density (persons per sq km) - 2013,% Not Born in UK - 2011,Below 33%,Above 66%
0,Brunswick Park,E05000043,647,159,52188,309,False,True
1,Burnt Oak,E05000044,665,91,88571,471,True,False
2,Childs Hill,E05000045,679,126,65161,512,False,False
3,Colindale,E05000046,697,75,82500,527,False,False
4,Coppetts,E05000047,694,111,64259,361,True,False
5,East Barnet,E05000048,646,148,43026,234,False,False
6,East Finchley,E05000049,671,136,64400,344,False,False
7,Edgware,E05000050,616,155,30179,374,False,False
8,Finchley Church End,E05000051,643,166,59259,409,False,False
9,Garden Suburb,E05000052,619,177,34362,360,False,True
10,Golders Green,E05000053,643,101,71500,458,False,False
11,Hale,E05000054,631,144,32500,357,False,True
12,Hendon,E05000055,665,120,66250,482,False,False
13,High Barnet,E05000056,643,176,18735,221,False,False
14,Mill Hill,E05000057,641,140,20106,344,False,True
15,Oakleigh,E05000058,634,173,48333,285,False,True
16,Totteridge,E05000059,627,170,17955,376,False,False
17,Underhill,E05000060,637,167,35543,254,False,False
18,West Finchley,E05000061,682,131,75909,447,False,False
19,West Hendon,E05000062,682,112,52794,536,False,False
20,Woodhouse,E05000063,676,138,68462,410,False,False

In [5]:
merged_df = pd.merge(df_2, df, on='New code', how='left')
merged_df

,Ward name,New code,% All Working-age (16-64) - 2015,% All Older people aged 65+ - 2015,Population density (persons per sq km) - 2013,% Not Born in UK - 2011,Below 33%,Above 66%,LSOA code,LSOA11NM
0,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000115,Barnet 009A
1,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000116,Barnet 009B
2,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000117,Barnet 010A
3,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000118,Barnet 010B
4,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000119,Barnet 009C
...,...,...,...,...,...,...,...,...,...,...
206,Woodhouse,E05000063,676,138,68462,410,False,False,E01000320,Barnet 011D
207,Woodhouse,E05000063,676,138,68462,410,False,False,E01000321,Barnet 012E
208,Woodhouse,E05000063,676,138,68462,410,False,False,E01000322,Barnet 011E
209,Woodhouse,E05000063,676,138,68462,410,False,False,E01000323,Barnet 019F
210,Woodhouse,E05000063,676,138,68462,410,False,False,E01000324,Barnet 015F

In [6]:
df_data = pd.read_csv("burglary_data.csv")
df_data

,Crime ID,Month,Reported by,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category
0,5e5221a8499a4c2052b472f97b53386a6d018aa76aaa78...,2022-11,Metropolitan Police Service,-0.204414,51.653895,On or near Union Street,E01000248,Barnet 001A,Burglary,Investigation complete; no suspect identified
1,c16a142447fd4e08eaa5aca0b52b85729fc3c1c4845e4d...,2022-11,Metropolitan Police Service,-0.207948,51.654471,On or near The Avenue,E01000248,Barnet 001A,Burglary,Investigation complete; no suspect identified
2,4635d9e5c22099c73fe261c57386b11a4025e79f74b9fe...,2022-11,Metropolitan Police Service,-0.209802,51.658770,On or near Calvert Road,E01000249,Barnet 001B,Burglary,Investigation complete; no suspect identified
3,d28ee0b907db8fd007fac65cb2d5c71193d0b67ff7bc68...,2022-11,Metropolitan Police Service,-0.199524,51.652885,On or near High Street,E01000250,Barnet 001C,Burglary,Investigation complete; no suspect identified
4,be3d1f960e77b2a97bc7b668150ca3fe6e6b889049e928...,2022-11,Metropolitan Police Service,-0.196977,51.653682,On or near Laburnham Close,E01000250,Barnet 001C,Burglary,Investigation complete; no suspect identified
...,...,...,...,...,...,...,...,...,...,...
44262,84014ca5ee292facf110dfd943012d04dd6f6142e89864...,2014-08,Metropolitan Police Service,-0.199298,51.559326,On or near Lyndale,E01000139,Barnet 041B,Burglary,Status update unavailable
44263,ac47f15de24c33169e9e03390dc6bca22408654da98165...,2014-08,Metropolitan Police Service,-0.196339,51.561906,On or near Devonshire Place,E01000140,Barnet 041C,Burglary,Investigation complete; no suspect identified
44264,3a226d1385900e358ee176e5de399551f2155e8ed89eb6...,2014-08,Metropolitan Police Service,-0.209475,51.558798,On or near Besant Road,E01000143,Barnet 041D,Burglary,Status update unavailable
44265,ca2192933648005e00036fdb03f9e8f2f064e8b4215979...,2014-08,Metropolitan Police Service,-0.209549,51.557999,On or near Marnham Avenue,E01000143,Barnet 041D,Burglary,Investigation complete; no suspect identified
44266,c92fd206ee2bbf730518f1fcdf87c82e22c5336d2bc9ea...,2014-08,Metropolitan Police Service,-0.209369,51.558185,On or near Howard Close,E01000143,Barnet 041D,Burglary,Status update unavailable

In [7]:
merged_df_2 = pd.merge(merged_df, df_data, on='LSOA code', how='left')
merged_df_2

,Ward name,New code,% All Working-age (16-64) - 2015,% All Older people aged 65+ - 2015,Population density (persons per sq km) - 2013,% Not Born in UK - 2011,Below 33%,Above 66%,LSOA code,LSOA11NM,Crime ID,Month,Reported by,Longitude,Latitude,Location,LSOA name,Crime type,Last outcome category
0,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000115,Barnet 009A,f3b5b340660afde3a5a0204db99b4ee6da366c101f7993...,2020-09,Metropolitan Police Service,-0.145038,51.635914,On or near Knoll Drive,Barnet 009A,Burglary,Investigation complete; no suspect identified
1,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000115,Barnet 009A,31ed0fd1d9bcd1f57ac696ea8fadd9f0dc54cbb217ba58...,2020-09,Metropolitan Police Service,-0.144527,51.637812,On or near Cedar Rise,Barnet 009A,Burglary,Investigation complete; no suspect identified
2,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000115,Barnet 009A,617a945d714445aa0da1ac6916f5322d93977a9a1095b5...,2023-03,Metropolitan Police Service,-0.143373,51.637758,On or near Monkfrith Close,Barnet 009A,Burglary,Under investigation
3,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000115,Barnet 009A,c1ca5cf312c815a433ccb38e1e86d7ef84fb6983ddc23d...,2023-03,Metropolitan Police Service,-0.144527,51.637812,On or near Cedar Rise,Barnet 009A,Burglary,Under investigation
4,Brunswick Park,E05000043,647,159,52188,309,False,True,E01000115,Barnet 009A,d9ef58b18315fa5611432803f4c9986e8860ae11a5f53d...,2023-03,Metropolitan Police Service,-0.141254,51.635135,On or near Exeter Road,Barnet 009A,Burglary,Under investigation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44262,Woodhouse,E05000063,676,138,68462,410,False,False,E01000324,Barnet 015F,cd2164dde31c9cc6e4c218c948ede9a7d5028ef290166d...,2014-02,Metropolitan Police Service,-0.163232,51.615149,On or near Buxted Road,Barnet 015F,Burglary,Status update unavailable
44263,Woodhouse,E05000063,676,138,68462,410,False,False,E01000324,Barnet 015F,836c702bae43dedb01f7c1b8b6c673df8ff574f42cf623...,2012-02,Metropolitan Police Service,-0.161720,51.611106,On or near Summers Row,Barnet 015F,Burglary,Status update unavailable
44264,Woodhouse,E05000063,676,138,68462,410,False,False,E01000324,Barnet 015F,NaN,2011-07,NaN,-0.161720,51.611106,On or near Summers Row,Barnet 015F,Burglary,NaN
44265,Woodhouse,E05000063,676,138,68462,410,False,False,E01000324,Barnet 015F,NaN,2011-07,NaN,-0.165488,51.612927,On or near Bramber Road,Barnet 015F,Burglary,NaN
44266,Woodhouse,E05000063,676,138,68462,410,False,False,E01000324,Barnet 015F,83bf3ad26ef427efd8da7fa5126f0b119238a8dc1d73eb...,2012-01,Metropolitan Police Service,-0.165502,51.612945,On or near Bramber Road,Barnet 015F,Burglary,Status update unavailable

In [8]:
merged_df_2.to_csv("LSOA_name_ward_median_house_2.csv", index=False)